{% for qa in qa_list %}

<div class="main01">
	<h3><strong>{{qa.name_cn}} {{qa.name_en}}</strong></h3>
	<div class="box">
		<div class="forms" style="width:920px;">
			<table width="100%" cellspacing="0" cellpadding="0" border="0">
				<tbody>
					<tr class="td01" style="white-space: nowrap;">
						<td><strong>题号</strong><br />No.</td>
						<td width="25%"><strong>问题</strong><br />Question</td>
						<td><strong>是/否/未涉及</strong><br />Yes/No/NA</td>
						<td><strong>分值</strong><br>Points</td>
						<td width="40%"><strong>题目描述</strong><br>Clarification</td>
					</tr>
					{% for cqa in qa.child_list %}
					<tr style="background-color: {{cqa.color.color}};">
						<td rowspan="{{cqa.child_length}}" style="text-align: center;">{{cqa.number}}</td>
						<td rowspan="{{cqa.child_length}}">{{cqa.question_cn|default_if_none:""|safe}}<br />{{cqa.question_en|default_if_none:""|safe}}</td>
						<td>{{cqa.child_list.0.option_cn|default_if_none:""}}<br />{{cqa.child_list.0.option_en|default_if_none:""}}</td>
						<td style="text-align: center;">{{cqa.child_list.0.point|default_if_none:""}}</td>
						
						{% if cqa.qid in cp_score_list %}
						<td rowspan="{{cqa.rowspan}}">{{cqa.desc_cn|default_if_none:""|safe}}<br />{{cqa.desc_en|default_if_none:""|safe}}</td>
						{% else %}
						{% if cqa.qid in cp_no_score_list %}
						
						{% else %}
						<td rowspan="{{cqa.child_length}}">{{cqa.desc_cn|default_if_none:""|safe}}<br />{{cqa.desc_en|default_if_none:""|safe}}</td>
						{% endif %}
						{% endif %}
						
					</tr>
						{% for oqa in cqa.child_list %}
						{% if not forloop.first %}
						<tr style="background-color: {{cqa.color.color}};">
							<td>{{oqa.option_cn|default_if_none:""}}<br />{{oqa.option_en|default_if_none:""}}</td>
							<td style="text-align: center;">{{oqa.point|default_if_none:""}}</td>
						</tr>
						{% endif %}
						{% endfor %}
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="c"></div>
	</div>
</div>

{% endfor %}