<div>
<link href="/static/survey/css/css.css" rel="stylesheet" type="text/css">
<script language="javascript" src="/static/js/jquery-1.4.4.min.js"></script>
<script language="javascript" src="/static/survey/js/common.js"></script>

{% block css %}
{% endblock %}

{% block script %}
{% endblock %}

<style type="text/css">
<!--
input.underline {border:0;border-bottom:solid 1px gray;text-align:center;}
.STYLE1 {
	font-size: 18px;
	font-weight: bold;
}
.STYLE2 {
	font-size: 16px;
	font-weight: bold;
}
.STYLE3 {
	font-size: 14px;
	font-weight: bold;
}
.STYLE6 {font-size: 14}
.STYLE7 {font-size: 16}
body { overflow-x: hidden; }
-->
</style>

{% block content %}
{% endblock %}
</div>