{% extends "admin/change_list.html" %}
{% load admin_list i18n %}

{% block object-tools %}
	{% if has_add_permission %}
        <ul class="object-tools">
          <li>
            <a href="add?project_id=2" class="addlink">
              增加宝马问卷
            </a>
          </li>
          <li>
            <a href="add?project_id=3" class="addlink">
              增加MINI问卷
            </a>
          </li>
          {% if is_fw_team or  has_manage_role%}
          <li>
            <a href="add?project_id=4" class="addlink">
              增加竞品问卷
            </a>
          </li>
          {% endif %}
          {% if has_manage_role %}
          <li>
          	<a href="/functionlist">
          		高级功能
          	</a>
          </li>
           {% endif %}
        </ul>
    {% endif %}
{% endblock %}

{% block search %}
{% search_form cl %}
<div class="jqmWindow" id="desc_dialog">
</div>

{% endblock %}
