(function($) {
/*
 * Function: fnGetColumnData
 * Purpose:  Return an array of table values from a particular column.
 * Returns:  array string: 1d data array
 * Inputs:   object:oSettings - dataTable settings object. This is always the last argument past to the function
 *           int:iColumn - the id of the column to extract the data from
 *           bool:bUnique - optional - if set to false duplicated values are not filtered out
 *           bool:bFiltered - optional - if set to false all the table data is used (not only the filtered)
 *           bool:bIgnoreEmpty - optional - if set to false empty values are not filtered from the result array
 * Author:   Benedikt Forchhammer <b.forchhammer /AT\ mind2.de>
 */
$.fn.dataTableExt.oApi.fnGetColumnData = function ( oSettings, iColumn, bUnique, bFiltered, bIgnoreEmpty ) {
    // check that we have a column id
    if ( typeof iColumn == "undefined" ) return new Array();
     
    // by default we only wany unique data
    if ( typeof bUnique == "undefined" ) bUnique = true;
     
    // by default we do want to only look at filtered data
    if ( typeof bFiltered == "undefined" ) bFiltered = true;
     
    // by default we do not wany to include empty values
    if ( typeof bIgnoreEmpty == "undefined" ) bIgnoreEmpty = true;
     
    // list of rows which we're going to loop through
    var aiRows;
     
    // use only filtered rows
    if (bFiltered == true) aiRows = oSettings.aiDisplay;
    // use all rows
    else aiRows = oSettings.aiDisplayMaster; // all row numbers
 
    // set up data array   
    var asResultData = new Array();
     
    for (var i=0,c=aiRows.length; i<c; i++) {
        iRow = aiRows[i];
        var aData = this.fnGetData(iRow);
        var sValue = aData[iColumn];
         
        // ignore empty values?
        if (bIgnoreEmpty == true && (typeof sValue == "undefined"|| sValue.length == 0)) continue;
 
 		
 		var dt = sValue;
    	dt = dt.replace('<br>', '').replace('<br/>', '').replace('<BR>', '').replace('<BR/>', '')
    	
        // ignore unique values?
        if (bUnique == true && jQuery.inArray(dt, asResultData) > -1) continue;
         
        // else push the value onto the result data array
        else asResultData.push(dt);
    }
    asResultData.sort();
    return asResultData;
}}(jQuery));

function fnCreateSelect(i, aData )
{
    var r='<select name="select_'+i+' " style="width: 90px"><option value="">--all--</option>', i, iLen=aData.length;
    if (iLen==0) return '';
    for ( i=0 ; i<iLen ; i++ )
    {
    	var dt = aData[i];
    	//dt = dt.toLowerCase()
    	//var poz = dt.indexOf('<br>')
    	//if(poz==-1){
    	//	poz = dt.indexOf('<br/>')
    	//}
    	//if(poz!=-1){
    	//	dt = dt.substring(0, poz)
    	//}
        r += '<option value="'+dt+'">'+dt+'</option>';
    }
    return r+'</select>';
}

$(document).ready( function () {
	$('#go_left').css("display","block");
	$('#go_right').css("display","block");
	   $(window).scroll(
			function () {
		    var scrollTop = document.documentElement.scrollTop || document.body.scrollTop; 
		    var bodyHeight = $(".topBg").height();
		    var boxHeight = $("#example").height();
		    var sTop = bodyHeight - boxHeight;
			if(scrollTop >= sTop) {
				$(".fixedHeader").show();
				$("#mask_L, #mask_R").show();	
        	}else {
				$(".fixedHeader").hide();
				$("#mask_R").hide();
				$("#mask_L").hide();
			}
		})
		var Sys = {}; 
        var ua = navigator.userAgent.toLowerCase(); 
        var s; 
        (s = ua.match(/msie ([\d.]+)/)) ? Sys.ie = s[1] :
        (s = ua.match(/firefox\/([\d.]+)/)) ? Sys.firefox = s[1] : 
        (s = ua.match(/chrome\/([\d.]+)/)) ? Sys.chrome = s[1] : 
        (s = ua.match(/opera.([\d.]+)/)) ? Sys.opera = s[1] : 
        (s = ua.match(/version\/([\d.]+).*safari/)) ? Sys.safari = s[1] : 0; 

		var  clientWidth = document.documentElement.clientWidth || document.body.clientWidth;
		var  bodyWidth = $(".main01").width();
		var  tableWidth = Math.floor(bodyWidth*0.98);
		var  headHeight = $("thead").height();
		var  maskWidth = Math.floor((clientWidth-tableWidth)/2);
		var  smallWidth = Math.floor((bodyWidth-tableWidth)/2);

	    var obj=document.createElement("div");
            obj.id="mask_R";
            obj.style.height=headHeight+"px";
			if (Sys.ie){obj.style.width=maskWidth-1+"px";}
			if (Sys.chrome){obj.style.width=maskWidth+1+"px";}
			if (Sys.firefox){obj.style.width=maskWidth+"px";}
			obj.style.backgroundColor="#fff";
            obj.style.height=(headHeight+50)+"px";
			obj.style.zIndex="8888";
            document.body.appendChild(obj);  
            var obj2 = document.createElement("div"); 
			obj2.id="mask_e"; 
			obj2.style.height=(headHeight+50)+"px";
			obj2.style.width=smallWidth+"px"; 
			obj2.style.background="#fff";
			obj2.style.borderRight="1px #ccc solid";
			obj.appendChild(obj2); 
			var obj3=document.createElement("div");
            obj3.id="mask_L";
            obj3.style.height=(headHeight+50)+"px";
			if (Sys.ie){obj3.style.width=maskWidth-1+"px";}
			if (Sys.chrome){obj3.style.width=maskWidth+"px";}
			if (Sys.firefox){obj3.style.width=maskWidth+"px";}
			obj3.style.backgroundColor="#fff";
			obj3.style.zIndex="8888";
            document.body.appendChild(obj3);  
            var obj4 = document.createElement("div"); 
			obj4.id="mask_e2"; 
			obj4.style.height=(headHeight+50)+"px";
			if (Sys.ie){obj4.style.width=smallWidth+"px";;}
			if (Sys.chrome){obj4.style.width=smallWidth+"px";}
			if (Sys.firefox){obj4.style.width=smallWidth-1+"px";}
			obj4.style.background="#fff";
			obj4.style.borderLeft="1px #ccc solid";
			obj3.appendChild(obj4);				
				
		$("#mask_L, #mask_R").bgiframe();
		
  		var box_id = $('.forms05');
    	var scroll_data = $('#example');
		var left_march = $('#left_march');
		var right_march = $('#right_march');
		var bodyHeight = $(".topBg").height();
	  	var boxHeight = $('#example').height();
		var marchTop = bodyHeight-boxHeight;
		
		/* Add/remove class to a row when clicked on */
	    $('#example tr').click( function() {
	        $(this).toggleClass('row_selected');
	    } );
	    
	    $('#go_left').css("display","block");
		$('#go_right').css("display","block");
		var oTable = $('#example').dataTable( {
			"sDom": 'T<"clear">liftp',
			"bJQueryUI": true,
			"bSortClasses": false,
			"oTableTools": {
				"aButtons": [
					"copy", "xls"
				]
			},
			"bPaginate": false
			//"oLanguage":{
				//"sUrl": "/static/data_table/cn/jquery.dataTable.cn.txt"
			//}
		} );
		
		/* Add a select menu for each TH element in the table footer */
		$("thead th").each( function ( i ) {
			$(this).css('width','');
		})
		
	    $("thead td").each( function ( i ) {
	    	if(!(i==0||i==4)){
	    		this.innerHTML = fnCreateSelect(i, oTable.fnGetColumnData(i) );
		        $(this).find('select').bind('change', function () {
		            oTable.fnFilter( $(this).val(), i );
		            $("select[name='select_"+i+"']").val($(this).val());
		            //select_tmps = $("select[name='select_"+i+"']");
		            //for (var i=0; i<select_tmps.length; i++){
		            //	select_tmps[i].find("option[value='"+$(this).val()+"']").attr("selected","selected");
		            //	select_tmps[i].val($(this).val());
		           // }
		            var bodyHeight = $(".topBg").height();
		    		var boxHeight = $("#example").height();
		    		
		    		var sTop = bodyHeight - boxHeight- $(".FixedHeader_Header").height();
		            $(window).scrollTop(sTop);
		            left_march.css( "height",box_id.height()+'px' )
	    			right_march.css( "height",scroll_data.height()+'px' )
		        });
	    	}
	    } ); 
	    
	    //列高亮
		oTable.$('td').hover( function() {
	        var iCol = $('td', this.parentNode).index(this) % {{column|default_if_none:30}};
	        $('td:nth-child('+(iCol+1)+')', oTable.$('tr')).addClass( 'highlighted' );
	    }, function() {
	        oTable.$('td.highlighted').removeClass('highlighted');
	    } );
	    
	    left_march.css( "height",box_id.height()+'px' )
	    right_march.css( "height",scroll_data.height()+'px' )
	    left_march.css( "width", '60px' )
	    left_march.css( "left", '20px' )
	    left_march.css( "top", marchTop+"px")
	    right_march.css( "width",'60px' )
	    right_march.css( "right",'20px' )
	    right_march.css( "top", marchTop+"px")
		 new FixedHeader(oTable)  ; 
		 $(".fixedHeader table").css("width","100%");
		 $(".fixedHeader").hide();
		 var fixWidth = $(".fixedHeader").width();
			 		
		 
	} );
	function tableScroll() {
  			var  clientWidth = document.documentElement.offsetWidth || document.body.offsetWidth;
			var  bodyWidth = $(".main01").width();
			var  tableWidth = Math.floor(bodyWidth*0.98);
			var  fixWidth = $(".fixedHeader").width();
			var  maskWidth = Math.floor((clientWidth-tableWidth)/2*0.98);
	  	  	var adWidth = $(".forms05").scrollLeft();
			var scrollY = maskWidth-adWidth+1.5;
			$(".FixedHeader_Header").css("left",scrollY+"px");
  	}