{% extends "base.html" %}

{% block body %}
  <div class="main01">
    <h3><strong>全国执行进度</strong>&nbsp;&nbsp;&nbsp; National Fieldwork Status &nbsp;&nbsp;&nbsp; {{current_term.name}}</h3>
    <div class="box forms05">
        <table cellspacing="0" cellpadding="0" border="0" width="100%">
			<tr>
				<td><strong>经销店类型</strong><br>Dealer Type</td>
				<td>总体样本量<br>Sample Size</td>
				<td>已完成样本量<br>Completed Sample</td>
				<td>未完成样本量<br>Un-finished Sample</td>
				<td>完成率<br>Fulfillment Ratio(%)</td>
			</tr>
			{% for dealer_type in dealertypes %}
			<tr>
				<td><strong>{{dealer_type.name_cn}}经销店</strong><br>{{dealer_type.name_en}}  Dealer Shop</td>
				<td>{{dealer_type.sum_data.total}}</td>
				<td>{{dealer_type.sum_data.done}}</td>
				<td>{{dealer_type.sum_data.remain}}</td>
				<td>{{dealer_type.sum_data.percent|floatformat:1}}%</td>
			</tr>			
			{% endfor %}
		</table>
		<br/>
    </div>
  </div>
  
{% endblock %}
