{% extends "base.html" %}

{% block js %}
	<script type="text/javascript" src="/static/mcview/js/mcview.js"></script>
	<script type="text/javascript" src="/static/js/jquery-ui-1.8.9.custom.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="/static/data_table/js/jquery.dataTables.js"></script>
	<script type="text/javascript" charset="utf-8" src="/static/data_table/js/FixedColumns.js"></script>
{% endblock %}

{% block body %}
  <div class="main01">
    <h3><strong>在线比对结果</strong>&nbsp;&nbsp;&nbsp;Data Comparison</h3>
    <div class="box"> 
		<form id="compareform" action="{% url ProjectStatus/ajaxpaperconflict %}" method="post">
			{% csrf_token %}
		<div class="selectMain">
          <select name="Term" size="1" class="select01 FL">
            <option value="">选择期数please select term</option>
            {% for term in terms %}
            <option value="{{term.id}}">{{term.name_cn}}</option>
            {% endfor %}
          </select>
          <select name="Wave" size="1" class="select01 FR">
			<option value="">选择品牌 please select wave</option>
			{% for type in dealertypes %}
			<option value="{{type.id}}">{{type.name_cn}}</option>
			{% endfor %}
        </select>
        <img class="search" src="/static/mcview/images/butPK.gif"  onclick="return ajaxFilter($('#compareform'),'compare_result');" style="cursor:pointer;"/>
        </div>
		</form>
    </div>
    <center><div id="compare_result" class="forms05 dataContent "  style="width: 98%;height:300px;"></div></center>
  </div>
{% endblock %}
