{% extends "base.html" %}

{% block body %}
  <div class="main01">
    <h3><strong>神秘顾客项目介绍&nbsp;&nbsp;&nbsp;</strong>  Mystery Shopping Study Introduction</h3>
    <div class="box">
      <div class="containerL">
      <p>对于提升顾客满意度水平，神秘顾客研究是一个很重要的研究工具。甚至从研究角度来讲，它是唯一的能够有效测量从消费者视角所看到的服务水平的研究工具。</p>
      <p>Mystery shopping can be a very powerful tool in developing and 
improving levels of customer service, being the only form of research 
that helps  assess actual service levels from the customer's 
perspective.</p> 
      </div>
      <div class="containerR">
      <p>项目总览<br>Project overview:<br></p>
      <ul>
      <li>售后标准流程是达成客户满意的前提和基本要求；<br>
      Aftersales standard process is the prerequisite and basic requirement for customer satisfaction;</li>
      
      <li>通过APQ考核，约束售后一线人员按照流程向客人提供标准服务；<br>
      Through APQ audit, first line service staff will be required to provide standard services to customers according to standardized process;</li>
      
      <li>APQ问卷关注最基本的售后流程。<br>
      APQ questionnaire focus on basic Aftersales service processes.</li>
      
      </ul>

      </div>
      <div class="c"></div>
    </div>
    <div class="c"></div>
  </div>
  
  
  <div class="main01">
    <h3><strong>考核方法与样本量</strong>&nbsp;&nbsp;&nbsp;Methodology & Sample Size</h3>
    <div class="box">
      <div class="containerW containerL">
	  <ul>
      <li>本项目会邀请真实的BMW或MINI车主作为神秘顾客；<br>
      BMW/MINI owners are invited to visit dealers as mystery shoppers;
	  </li>	
      <li>神秘顾客会按照正常的拜访形式进店做维修保养，不会有特殊的情节安排；<br>
      Mystery Shoppers will pay a visit to dealers for maintenance as usual, no special arrangements designed for mystery shoppers;
	  </li>		
      <li>评估员会根据拜访时现场发生的实际情形做出评估结论；<br>
      Evaluation on checkpoints are given by auditors according to on-site facts during visits;
	  </li>	
	  <li>每年度4期考核，一季度一期；考核前不会发布考核开始通知；<br>
      4waves per year, 1 wave per quarter. No pre-announcement before audit;
	  </li>		
	  <li>每季度一个样本。<br>
      1 sample per wave.
      </li>	
      </ul>
      <p>&nbsp;</p> 
      </div>
      <div class="c"></div>
    </div>
    <div class="c"></div>
  </div>
 <div class="c"></div>
{% endblock %}