{% extends "base.html" %}

{% block js %}
	<script type="text/javascript" src="/static/mcview/js/mcview.js"></script>
{% endblock %}
{% block css %}
	<link rel="stylesheet" href="/static/mcview/css/base.css" type="text/css" />
{% endblock %}

{% block body %}
  <div class="main01">
    <h3><strong>修改密码&nbsp;&nbsp;&nbsp;</strong>  Reset Password</h3>

    <div class="box">
      <div class="forgot">
	  <form name="frmAnnounce" action="{% url ChangePassword %}" method="POST" onSubmit="javascript:return Juge(this);">{% csrf_token %}
	  <p><strong>用户名：</strong><span class="span">{{ user.username }}</span></p>
	  <p><strong>旧密码：</strong><span><input  name="oldpassword" type="password" class="in01" />
	  </span></p>
	  <p><strong>新密码：</strong><span><input name="password"  class="in01" type="password" /></span></p>

	  <p><strong>确认密码：</strong><span><input name="confirmpass"  class="in01" type="password" /></span></p>
		{% if message %}
			<span class="errormsg tip">{{message}}</span><br>
		{% endif %}
	  <p><strong></strong><div style="width: 300px"><input  type="submit" class ="button left"  title="Submit" value="Submit">
	  <input class ="button right" style="margin-right: 70px;" title="重置"  type="reset" value="Reset"></div></p>
	  </form>
	  </div>
	  
      <div class="c"></div>
    </div>
    <div class="c"></div>

  </div>
  <div class="c"></div>
{% endblock %}